@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 29);
}
header {
    background-image: url(../img/reclamosfondo.jpg);
    height: 800px;
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 100px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding-top: 20px;
    backdrop-filter: blur(2px);
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-top: 15px;

}
nav ul a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 10px;
}
nav ul a:hover {
    text-transform: underline white 1px solid;
    background-color: rgba(20, 14, 46, 0.521);
    border-radius: 15px;
    border: 1px white solid;
    padding: 9px;
}
nav img {
    height: 65px;
}
.formulario {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
}
.formulario legend {
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: bold;
}
.btns {
    padding: 7px;
}
.btnsbox {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}
.btns:hover {
    background-color: rgba(128, 128, 128, 0.568);
}
h1 {
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: center;
    margin-bottom: 20px;
}
.formulario label {
    margin: 0px 25px;

}
.formulario input {
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}
.formulario select {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}
.formulario ::placeholder {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}
.formulario select option {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}
.derechos {
    margin-top: 10px;
    text-align: center;
    color: white;
    padding-top: 6px;
 }