@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 29);
}
header {
    background-image: url(../img/fondoproductos.jpeg);
    height: 800px;
    width: 100%;
    border-bottom: 1px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 100px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding-top: 20px;
    backdrop-filter: blur(2px);
    z-index: 2;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-top: 15px;

}
nav ul a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 10px;
}
nav ul a:hover {
    text-transform: underline white 1px solid;
    background-color: rgba(20, 14, 46, 0.521);
    border-radius: 15px;
    border: 1px white solid;
    padding: 9px;
}
nav img {
    height: 65px;
}
.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
    gap: 1rem;
    text-align: center;
    color: white;
}
.modelo {
    width: 344px;
    color: black;
    width: 344px;
    border-radius: 15px;
    border: rgb(255, 255, 255) solid 1px;
    padding: 1rem 1rem;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(20, 14, 46, 0.521);
}
.productos h1 {
    border-right: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    margin-right: 100px;
    background-color: rgba(20, 14, 46, 0.521);
    border-radius: 15px;
    border: 1px white solid;
    align-items: center;
    font-size: 25px;
}
.card {
    width: 18rem !important;
}
.productosextra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 4rem;
    text-align: center;
    background-image: url(../img/fondoproductosex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(255, 255, 255, 0.151) 0px 4px 6px -1px, rgba(255, 255, 255, 0.315) 0px 2px 4px -1px;
    padding-bottom: 100px;
    color: white;
    width: 100%;
}
.modelo2 { 
    width: 344px;
    color: rgb(255, 255, 255);
    width: 344px;
    border-radius: 15px;
    border: rgb(255, 255, 255) solid 1px;
    padding: 1rem 1rem;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    background-color: rgba(20, 14, 46, 0.521);
    backdrop-filter: blur(2px);
    margin-bottom: 15px;
}
.productosextra h1 {
    border-right: 1px rgb(255, 255, 255) solid;
    padding-right: 40px;
    margin-right: 100px;
    color: white;
}
.productosextra h2 {
    font-weight: bold;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-top: 5px;
    color: white;
}
.btnmenu {
    display: flex;
    justify-content: center;

 }
.btnmenu a {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
 }
.btnmenu a:hover {
    background-color: rgba(102, 102, 102, 0.521);
 }
 .derechos {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
 }
 footer {
    background-color: rgb(32, 32, 32);
 }

  @media screen and (max-width:768px){
    nav ul a {
        text-decoration: none;
        color: white;
        margin-left: 5px;
        padding: 5px;
        font-size: 13px;
    }
    nav ul a:hover {
        text-transform: underline white 1px solid;
        background-color: rgba(20, 14, 46, 0.521);
        border-radius: 15px;
        border: 1px white solid;
        padding: 4px;
    }
    nav img {
        height: 50px;
        margin-left: 30px;
    }
 }
 @media screen and (max-width:1024px){
    .productos h1 {
        font-size: 12px;
        padding: 20px;
    }
    .productosextra h1 {
        font-size: 30px;
        padding: 20px;
    }
 }